In [1]:
import pandas as pd
import numpy as np

In [2]:
n = 1000
noise = 0.2
np.random.seed(42)
X = np.random.rand(n,2) * 10 - 5
Y = np.cos(X[:,0]) + np.sin(X[:,1]) + 5. - 0.5*X[:,1]+0.3*X[:,0] + noise * np.random.randn(n)
synth_data = pd.DataFrame({"X1": X[:,0], "X2": X[:,1], "Y": Y})

synth_data.head()

         X1        X2         Y
0 -1.254599  4.507143  1.526396
1  2.319939  0.986585  5.190449
2 -3.439814 -3.440055  4.980978
3 -4.419164  3.661761  1.130775
4  1.011150  2.080726  5.849364

In [3]:
synth_data.to_csv("synth_data.csv.zip", index=False)